.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}
.table_container {
  max-width: 1100px;
  margin: auto;
  padding: 50px 20px;
}
.App-intro {
  font-size: large;
}
.table_container .MuiTableCell-root{
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
footer span.material-icons {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  color: #ff0000;
}
footer p {
  text-align: center;
  font-size: 12px;
}
footer {
  overflow: hidden;
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
}